[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = jukrb0x
	email = 15688641+jukrb0x@users.noreply.github.com
	signingKey = 9E603D2A7C8FBDD4
[https "https://github.com"]
	proxy = socks5://127.0.0.1:8235
[http "https://github.com"]
	proxy = socks5://127.0.0.1:8235
[commit]
	gpgsign = true
[gpg]
	program = gpg
[tag]
	forceSignAnnotated = true
[core]
	editor = lvim
	quotepath = false
	longpaths = true
	autocrlf = input
	trustctime = false
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.attributes_global
	ignorecase = true
	filemode = true
[init]
	defaultBranch = main

[merge]
    tool = unityyamlmerge

    [mergetool "unityyamlmerge"]
    trustExitCode = false
    cmd = '/Applications/Unity/Hub/Editor/2020.3.19f1/Unity.app/Contents/Tools/UnityYAMLMerge' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
[pull]
	rebase = false
[http]
	postBuffer = 655360000
[diff "text"]
	textconv = cat
[mergetool]
	keepBackup = false
	writeToTemp = true
[mergetool "*.*_unityyamlmerge"]
	cmd = '/Applications/Unity/Hub/Editor/2020.3.19f1/Unity.app/Contents/Tools/UnityYAMLMerge' merge -p $BASE $REMOTE $LOCAL $MERGED
	trustexitcode = false
[lfs]
	concurrenttransfers = 32
	fetchrecentrefsdays = 0
	pruneoffsetdays = 0
[rebase]
	backend = apply
[protocol]
	version = 1
