[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = jukrb0x
	email = 15688641+jukrb0x@users.noreply.github.com
	signingKey = 9E603D2A7C8FBDD4
[https]
	proxy = socks5://127.0.0.1:8235
[http "https://github.com"]
	proxy = socks5://127.0.0.1:8235
[commit]
	gpgsign = true
[gpg]
	program = gpg
[tag]
	forceSignAnnotated = true
[core]
	editor = lvim
[init]
	defaultBranch = main

[merge]
    tool = unityyamlmerge

    [mergetool "unityyamlmerge"]
    trustExitCode = false
    cmd = '/Applications/Unity/Hub/Editor/2020.3.19f1/Unity.app/Contents/Tools/UnityYAMLMerge' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
