# This file is configured for yadm

# os
.DS_Store

# node
node_modules/

# log
.config/bpytop/error.log
yarn-error.log

# lockfiles
yarn.lock
package-lock.json

# configstore
.config/configstore/

# github cli
.config/gh/

# no need to submit
.config/.mono/
.config/Microsoft\VisualStudio Services/
.config/NuGet/
.config/clash/



